<div class="jumbotron">
    <h2>Design Patterns - Strategy (behavior pattern)</h2>
    <p class="lead">@ViewBag.Message1</p>
    <p class="lead">@ViewBag.Message2</p>
    <p class="lead">@ViewBag.Message3</p>
</div>